# Arquivos específicos do Eclipse
.classpath
.project
.settings/

# Diretório de compilação padrão do Eclipse
bin/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Logs
*.log

# Arquivos gerados
*.class

# Maven
target/



